{% extends 'base.html' %}
<!-- base.html을 기준으로 확장해주세요 -->
 <!-- base.html도화지에 block body 구멍이 뚫린 도화지지를 가져와 주세요 -->

 {% block body %}
<!-- 구멍에 맞는 블럭(body)을 넣기 -->
    <table class="table">
        <thead>
            <tr>
                <th>제목</th>
                <th>내용</th>
                <!-- th나 td나 동일하게 칸을 나누긴 하나 -->
                 <!-- th는 굵기표시가 됨(컬럼강조) -->
            </tr>
        </thead>
        <tbody>
            <!-- 아래의 내용을 반복해 주세요 -->
            {% for article in articles %} 
            <tr>
                <td>{{article.title}}</td>
                <td>{{article.content}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}