{% extends 'base.html' %}

{% block body %}
<form action="">
    <div class="mb-3">
        <label for="" class="form-label">Title</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Content</label>
        <textarea name="" id="" class="form-control" rows="10"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">제출</button>
    <!-- 위와 동일 <input type="submit" class="btn btn-primary" value="제출"> -->
</form>
{% endblock %}